:root {
    --Orange: #c97800;
    --Black: Black;
    --Red: #be2c00;
    --White:rgb(233, 233, 233);
    --lightgrey: rgb(189, 185, 185);
}


html {
    scroll-behavior:smooth;
  }

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--White);
    background-color: var(--White);
    line-height: 1.5;
}

main {
    display: flex;
    flex-wrap: wrap;
}


.main-header {
    background:var(--Black);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:15px 25px 0px;
    justify-content:space-between;
    width: 100%;
    top:0;
    

}

h1{
    
    font-family: 'Stencil Std','Courier New', Courier, monospace;
    font-size: 2.1rem;
    color: var(--Orange);
 
}

nav {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 5px 0px 0px;
}


  
nav a {
    text-decoration:overline;
    display: flex;
    padding: 0px 0px 0px;
    color: var(--Orange);
    margin: 0px 50px 0;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    border-bottom:var(--Black);
 } 



main h2 {
    font-family:'Stencil Std','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: var(--Black);
    text-decoration-line: underline;
    font-weight: 700;

    margin: 76px 0px 55px;
    text-align: center;
    font-weight: bold;
    top:0 

}

main p{
    padding: 72px 0px 200px;
    color: var(--Black);
    text-align: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

}

#profilePic {
    margin:auto;
    display: block;
    max-width: 150px;
    padding: 0px 0px 0px;

}


.section-background{
    background-color:var(--lightgrey);
    width: 100%;   
}

.section-background2{
    background-color:var(--White);
    width: 100%;
}

.section-background3{
    background-color:var(--lightgrey);
    width: 100%;
}



.firstWorkspic img {
   
    max-width: 890px;
    padding: 23px;
    align-items: center;
    justify-content: center;   
}
.firstWorkspic{
    display: flex;
    color: var(--Black);
    flex-wrap: wrap;
    flex: 1 0 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.workspic{
    display: flex;
    color: var(--Black);
    flex-wrap: wrap;
    flex: 1 0 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 500px;
    padding-top: 100px;
}

.workborder{
    
    border-style: solid;
    border-width: 1px;
    border-color: var(--Black);
}

.firstWorkspic header{
    font-family: 'Fantasy','Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 14px;
    color:var(--Orange);
    
}

.workspic img {
    max-width: 400px;
    padding: 23px;
    align-items: center;
    justify-content: center;   
}

.workspic header{

    font-family: 'Fantasy','Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 14px;
    color:var(--Orange);

}

#work1 {
    
    min-width: 850px;
 


}

footer{
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0px 0px;
    margin: 0px 0px 0px;
    color: var(--Orange);    
}
footer h2{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20PX;
    font-weight: bold;

}


footer a{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    padding: 0px 85px 0px;
    margin: 0px 0px 0px;
    justify-content: center;

}

#CV {
    position: fixed;
}

@media screen and (max-width: 992px) {

    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
        
    }
    .firstWorkspic img {
   
        max-width: 400px;
        padding: 23px;
        align-items: center;
        justify-content: center;   
    }
    #work1 {
        min-width: 0px;
        
    }
    
    
}


@media screen and (max-width: 768px) {
    main p{
        padding: 72px 0px 70px;
    }
    .workspic{
        padding-bottom: 100px;
    }
        
}