html, body {
    max-height: 1080px;
    
}

#screenarea{
    position: absolute;
  
}



#screenareaheader{
    cursor: move;
    position: absolute;
    z-index: 10;
    resize: both;
    overflow: auto;
}




#url_input{
    position: absolute;
    z-index: 10;
    width:74.9%;
    height: 2.6%;
    top: 98px;
    left: 56px;
    border:none;
    outline: none;
}

input[type="text"] {
    font-size:10px;
}

#url-submit{
    position: absolute;
    z-index: 2;
    left: 692px;
    top: 95px;

}

#home_button{
    position:absolute;
    z-index: 2;
    left: 199px;
    top: 53px;
}


#iframe-page{
    position:absolute;
    z-index: 2;
    left: 5px;
    top: 117px;
    width: 98.7%; 
    height: 76%;
}



  body {
    background: url(../images/IE6/windowxp-background.jpg);
    background-size: cover;
  }

